body{
    background-color: rgb(30, 30, 30);
    background-image: url("img/Logo_OCTOBIT_Logo_Preto_SIMBOLO.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}   

body, ul, li, a{
    margin: 0;
    padding: 0;
    font-family: arial;
}

h2{
    font-size: 30px;
}


.top{
    background-color: #dbdad9;
    width: 100%;
    position: fixed;
    padding: 25px;
    top: 0;
    left: 0;
    z-index: 1;
}

.topLogo{
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.topLogo img{
    position: absolute;
    max-width: 150px;
}

.banner{
    background-color: #761bef;
    width: 100%;
    height: 500px;
    position: relative;
}

.banner img{
    max-width: 100%;
    max-height: 90%;
    float: right;
    margin-top: 30px;
    margin-right: 50px;
    opacity: 0.8;
    
}

.banner div{
    color: rgb(30, 30, 30);
    position: absolute;
    top: 60%;
    left: 5%;
    font-size: 24px;
}
.banner h1{
    margin-bottom: 5px;
}
.banner p{
    margin: 0px;
}


.menu{
    background-color: #dbdad9;
    padding: 10px;    
}

.menu ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}

.menu li{
    width: 25%;
    display: inline-block;
    font-size: 20px;
}

.menu li a{
    text-decoration: none;
    color: rgb(30, 30, 30);
}

#sobre, #objetivos, #projetos, #equipe{
    scroll-margin-top: 120px;
}

main{
    max-width: 100%;
    width: 1300px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
    font-size: 18px;
    color: #dbdad9;
    line-height: 1.5em;

}

main p{
    margin-left: 20px;

}

main ul{
    list-style: none;
    margin-top: 35px;
}

main li{
    margin: 2em;
    margin-left: 55px;
    max-width: 80%;
}

main h3{
    margin-left: 20px;
    font-size: 22px;
}

.sobre{
    padding-bottom: 60px;
}

.projetos {
    padding-bottom: 60px;
}

.equipe {
    padding-bottom: 60px;
}
.projetos ul{
    white-space: nowrap;
    margin: 50px 30px;
    overflow-x: auto;   
}

.projetos li{
    width: 30%;
    min-width: 220px;
    display: inline-block;
    margin: auto 3%;
    
}

.projetos li img{
    max-width: 100%;
}

.equipe ul{
    white-space: nowrap;
    margin: 50px 30px;
    overflow-x: auto;
}

.equipe li{
    width: 30%;
    min-width: 200px;
    display: inline-block;
    margin: auto;
}

.equipe li img{
    max-width: 70%;
    height: auto;
}

.equipe figure{
    text-align: center;
    align-items: center;
}

.equipe figcaption{
    max-width: 100%;
    margin-top: 8px;
    font-size: 16px;
}


.fim{
    background-color: #761bef;
    padding: 10px;
    text-align: center;
    color: #dbdad9;
}

.fim h2{
    max-width: 100%;
    font-size: 25px;
}

.fim ul{
    list-style: none;
}

.fim ul img{
    max-width: 3%;
    min-width: 40px;
    margin: 10px;
}

.fim li a{
    text-decoration: none;
    color: rgb(30, 30, 30);

}

.fim ul strong{
    font-family: Trebuchet, sans-serif;
    position: relative;
    bottom: 25px;
    font-size: 20px;
    font-stretch: ultra-condensed;
    color: #dbdad9;
}

footer{
    background-color: #dbdad9;
    padding: 1px;
    font-size: 14px;
    text-align: center;
}

.projetos img:hover{
    position: relative;
    top: -4px;
}

.fim img:hover{
    position: relative;
    top: -4px;
}
